body {
    margin: 0;
    display:flex;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    align-items: center;
    justify-content: center;

}

form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 300px;    

}
