body {
    margin: 0;
    height:100%;
    font-family: 'Courier New', Courier, monospace;
}

.content{
    box-sizing:border-box;
    padding:20px;
    display:flex;
    flex-direction:row;
    gap:8px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 300px;    

}
