.response-content, .article-content {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    height: 100%;
    scroll-snap-type: y mandatory;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-anchor:none;
    scroll-snap-type: y mandatory;
    scroll-snap-align:end;

}
