{% extends 'base.html' %}
{%block link%}
<link rel="stylesheet" href="{{url_for('static', filename='css/response.css')}}">
<script src="{{url_for('static', filename='js/main.js')}}"></script>
{%endblock%}

{% block content %}
<h3>If you close the page, you lose the content generation!!!</h3>
<leftside class="response-content data-markdown" id="responseContent">
    {% if response %}
        {{response|safe}}
    {% endif %}
</leftside>
<rightside class="article-content data-markdown" id="articleContent">
    {% if article %}
        {{article|safe}}
    {% endif %}
</rightside>
{% endblock %}
